/*
 * Global page styles
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif-font);
}

body {
  font-family: var(--sans-serif-font);
}

body.no-scroll-mobile {
  overflow: hidden;
}

@media (min-width: 900px) {
  body.no-scroll-mobile {
    overflow: visible;
  }
}
