.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gallery-bg-color);
}

.gallery nav {
  width: 100%;
}

.select-control-box {
  margin-bottom: 8px;
  padding: 0 var(--gallery-padding-x) 8px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  backdrop-filter: blur(8px);
  background-color: var(--gallery-bg-color-transparent);
  z-index: 2;
  /*
   * TODO: 
   * - make all box shadows consistent, and create variables
   * - display (here) only when list has been scrolled
   */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

/*
 * On short viewports, reduce the vertical height
 * of the select control box to allow more room
 * to see the scrollable content.
 */
@media (max-height: 699px) {
  .select-control-box {
    padding-bottom: 0;
  }
}

.gallery-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 var(--gallery-padding-x);
}

.gallery-list li {
  margin-bottom: 16px;
  width: 100%;
  max-width: 360px;
}


/*
 * For tablet portrait layouts and wider
 */
@media (min-width: 600px) {

  .gallery-list {
    max-width: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .gallery-list li {
    width: 45%;
  }
}


@media (min-width: 900px) {
  .gallery {
    height: 100vh;
    overflow-y: scroll;
  }

  /* 
   * Return to the one-column layout.
   */
  .gallery-list {
    flex-direction: column;
    flex-wrap: none;
    justify-content: flex-start;
  }

  .gallery-list li {
    width: 100%;
  }
}
