.select-control {
  padding: 4px 0;
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  alignment: flex-end;

  z-index: 2;
}

.select-control select {
  font-size: 20px;
  height: 32px;
  margin-top: 4px;
  padding: 4px;
  border-radius: 4px;
}

@media (max-height: 699px) {
  .select-control {
    flex-direction: row;
    align-items: baseline;
  }

  .select-control select {
    margin: 8px;
    flex-grow: 2;
  }
}
